
  <table class="article" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="article_title_line">
      <td class="article_title"><a href="{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></td>
      <td class="timestamp">{{ article.published_when|date:"j F, Y \a\t g:i A" }}</td>
    </tr>
    <tr>
      {% if article.draft %}
      <td colspan="2" class="article-body-draft">
      {% else %}
      <td colspan="2" class="article-body">
      {% endif %}

		<br/>

      {{ article.truncated_two_paragraph_html }}

      <p style="float: right"><a href="{{ article.url }}" style="font-size: 20px;">Read More...</a></p>

      </td>
    </tr>
  </table>
